**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
debug/
run/

*.o

*.exe
*.bkp
*.7z
motorbench-log.0.0.txt
motorbench-log.0.0.txt.lck
*.h_backup
*.c_backup
*.backup
*.c_backup
*.log
*.log
*.bak